$btn-letter-spacing: 0;
$material-light: ();
$shadow-key-ambient-opacity: rgb(140 152 164 / 2.5%);
$shadow-key-penumbra-opacity: rgb(140 152 164 / 10%);
$shadow-key-umbra-opacity: rgb(140 152 164 / 0%);

@import '~vuetify/src/styles/styles.sass';
